modules-graph:not(.oj-complete) {
    visibility: hidden;
}

oj-chart {
    padding: 10px;
    margin-left: 5px;
}

#title {
    display: flex;
    justify-content: center;
}

#title h1 {
    font-family: Charcoal, sans-serif;
    font-size: 23px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}